body {
    color:#000000;
    font-family: Arial, sans-serif;
    font-size: 15px;
}


a {
    color:#1155CC;
    font-family:Arial, sans-serif;
    font-weight:normal;
    text-decoration:none;
    outline-color:initial;
    outline-style:none;
    outline-width:initial;
}

th {
    color: #000;
    padding: 0.3em 0.7em;
    text-align: left;
}

td {
    padding: 0.5em 0.3em;
}


.stock-details span.pr {
    font-size: 250%;
    font-weight: bold;
}

.stock-details span {
    font-size: 140%;
}

.stock-details .up {
    color: #000;
}

.stock-details .down {
    color: #e02222;
}



